# Lambda Function
A lambda function is a small function ci=ontaining a single expression. Lambda function can also act as a anonymous functions where they don't require any name.



It has three parts : Body, Bound variable and expression

In [ ]:
import pandas as pd
df = pd.DataFrame({'id':[1,2,3,4,5],
                   'name':['Jeremy','Frank','Janet','Ryan','Mary'],
                   'age':[23,42,13,45,65],
                   'income':[3000,4550,4000,0,3800]
                   })
df

   id    name  age  income
0   1  Jeremy   23    3000
1   2   Frank   42    4550
2   3   Janet   13    4000
3   4    Ryan   45       0
4   5    Mary   65    3800

In [ ]:
list(filter(lambda x:x>25,df['age']))

[42, 45, 65]

In [ ]:
list(map(lambda x:(x+3),df['age']))

[26, 45, 16, 48, 68]

In [ ]:
x=[print('Child') for i in df['age'] if i<18 print('Adult') for i in df['age'] if i>18]
x

[13]